:root {
    --notification-color: #8edafc;
    --text-lightgray: #c1cbd9;
}
/* ********GENERALS*********** */
body {
    /* background: rgb(0,150,136); */
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 22%, rgba(219,222,217,1) 22%, rgba(219,222,217,1) 87%, rgba(219,222,217,1) 100%);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    padding: 1vh;
}

img {
    width: 100%;
    display: block;
}

small {
    font-size: 14px;
    height: 100%;
}

li, a {
    color: var(--text-lightgray) ;
    list-style: none;
}
/* ********UTILITIES********** */
/* bg-app */
.text-gray {
    color: #858384;
}

#app {
    background-color: white;
    height: 93vh;
    border-radius: 20px;
    overflow: hidden;
    margin-top: calc((100vh - 95vh) / 2);
}

.bg-green {
    height: 15vh;
    background-color: #009688;
    z-index: -1;
}

.container {
        --bs-gutter-x: 0;
}

.avatar-container img {
    width: 50px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.text-lightgray {
    color: var(--text-lightgray) ;
}

/* SIDE-CONTAINER: */

.side-container {
    min-width: 40%;
}

/* TOP side-container */
.nav-container {
    background-color: #eaeaea;
}

.notifications-container {
    background-color: var(--notification-color);
}

.fa-bell-slash {
    color: var(--notification-color);
    background-color: white;
    padding: 0.8rem;
    aspect-ratio: 1/1;   
}

.research-container {
    background-color: #fafafa;
}

.research-container .btn,.research-container input {
    --bs-btn-border-width: 0;
    border-radius: 0;
    border: 1px solid #ced4da;
}

/* BOTTOM side-container */
.contacts-container .avatar-container {
    padding-bottom:  2rem;
}

/* MAIN-CONTAINER */
.main-container {
    flex-grow: 1;
    overflow: auto;
    height: 100%;
}

.last-access {
    font-size: 14px;
}

.chat-input-container {
    background-color: #f3eeea;
}

.messages-container {
    background-image: url("../img/mine.jpg");
    flex-grow: 1;
    overflow: auto;
    justify-content: start;
}

.v-if{
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: center center;
    background-position-x: center;
    background-position-y: center;
}

.dropdown-menu button{
    width: 100%;
    padding: 0.3rem 0rem;
    background: transparent;
    border: none;
}

.btn-secondary {
    --bs-btn-color: #0c0c0c;
    --bs-btn-bg: none; 
    --bs-btn-border-color: none;
    --bs-btn-hover-color:#0c0c0c;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color:#0c0c0c;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color:none;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: none;
}

.received-message, .envoy-message {
    padding: .5rem;
    margin-bottom: .8rem;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
}

.message {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-wrap: anywhere ;
}

.received-message {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.envoy-message {
    background-color: white;
    align-self: flex-start;
}
