<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Milestone 1
     Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi)
     e dall’interlocutore (bianco) assegnando due classi CSS diverse
    Visualizzazione dinamica della lista contatti: tramite la direttiva v-for,
    visualizzare nome e immagine di ogni contatto -->
    <!-- <div class="bg-green  position-absolute top-0 start-0 end-0"></div> -->
    <div id="app" class="container d-flex">
        <div class="side-container d-flex flex-column">
            <div class="top-container flex-shrink-1">
                <div class="nav-container d-flex justify-content-between p-3 ">
                    <div class="avatar-container d-flex align-items-center">
                        <img :src="user.avatar" alt="avatar_1" class="rounded-circle">
                        <span class=" ms-3">{{user.name}}
                        </span>
                    </div>

                    <ul class="icon-container d-flex align-items-center ">
                        <li>
                            <a href="#"><i class="fa-solid fa-circle-notch me-3"></i></a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa-solid fa-message me-3"></i></a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="notifications-container p-3 d-flex">
                    <div>
                        <i class="fa-solid fa-bell-slash rounded-circle me-3"></i>
                    </div>
                    <span>
                        Ricevi notifiche di nuovi messaggi
                        <div class="text-gray text-decoration-underline">Ultimo messaggio inviato</div>
                    </span>

                </div>
                <div class="research-container pb-3 ">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" class="form-control" placeholder="Search"
                            aria-label="Example text with button addon" aria-describedby="button-addon1"
                            v-model="searchContact">
                    </div>
                </div>
            </div>
            <div class="contacts-container flex-grow-1 overflow-auto ">
                <div class="avatar-container d-flex align-items-center px-3" 
                    v-for="(contact, i ) in filterName"
                    :key="i + contact.name" @click="activeContact(contact, i)" >
                    <img :src="contact.avatar" alt="avatar_1" class="rounded-circle flex-shrink-0">
                    <span class=" ms-3 flex-grow-1 overflow-auto">
                        {{contact.name}}
                        <div class="text-lightgray" v-if="contact.messages.length > 0" v-html="contact.messages[contact.messages.length - 1].message"></div>
                    </span>
                    <small class="time-sending text-lightgray align-self-start text-end flex-shrink-0"
                    v-if="contact.messages.length > 0" v-html="contact.messages[contact.messages.length - 1].date"> 12:00 </small>
                </div>
            </div>
        </div>

        <div class="main-container d-flex flex-column">
            <div class="flex-shrink-0">
                <div class="nav-container d-flex justify-content-between p-3 ">
                    <!-- v-if="currentContact !== -1  -->
                    <div v-if="currentContact !== -1"  class="current-user-container">
                        <div class="avatar-container d-flex align-items-center">
                            <img :src="userList[currentContact].avatar" alt="avatar_1" class="rounded-circle">
                            <span class=" ms-3">
                                {{userList[currentContact].name}}
                                <div class="last-access text-lightgray">Ultimo accesso oggi alle 16:30</div>
                            </span>
                        </div>
                    </div>
                    <div v-else class="current-user-container">
                        <div class="avatar-container d-flex align-items-center">
                            <img :src="userList[0].avatar" alt="avatar_1" class="rounded-circle">
                            <span class=" ms-3">
                                {{userList[0].name}}
                                <div class="last-access text-lightgray">Ultimo accesso oggi <span
                                    v-if="selectedUser.messages.length > 0" v-html="selectedUser.messages[selectedUser.messages.length - 1].date">12:00</span> </div>
                            </span>
                        </div>
                    </div>

                    <ul class="icon-container d-flex align-self-center my-0">
                        <li>
                            <a href="#"><i class="fa-solid fa-magnifying-glass me-3"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-paperclip me-3"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="messages-container">
                <div class="v-if d-flex flex-column"
                v-if="selectedUser.messages.length > 0" 
                :style="{ backgroundImage: 'url(' + bg + ')' }">
                    <!--  -->
                    <div class=" rounded"
                    v-for="(element, i) in selectedUser.messages" 
                    :class="{ 'received-message': element.status == 'received', 'envoy-message' : element.status == 'sent'}">
                        <span class="me-3"> {{element.message}} </span>
                        <div class="text-lightgray d-flex flex-column justify-content-end align-items-end">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button @click="infoMessage(i)">
                                            Info
                                        </button>
                                    </li>
                                    <li>
                                        <button @click="deleteMessage(i)">
                                            Delete
                                        </button>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="time-sending text-end">
                               {{element.date}}
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
            <div class="chat-input-container  d-flex justify-content-between  align-items-center py-2 px-4">

                <div class="emoticon-container text-gray">
                    <i class="fa-brands fa-jedi-order fs-4"></i>
                </div>

                <div class="input-group mx-3">
                    <input @keyup.enter="addNewMessage" v-model="newMessage.message" type="text" class="form-control" placeholder="New text" aria-label="Username">
                </div>

                <div class="microphone-container text-gray">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div>
    
    </div>

    <!-- <script  type="module" src="js/users.js"></script> -->
    <script type="module" src="js/main.js"></script>
    
</body>

</html>